@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------------------------------------------- */

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 0 0% 11%;
    --primary-foreground: 200 71% 63%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 200 100% 36%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 24 84% 56%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;

    --tail-a: 1 69% 53%;
    --tail-b: 327 48% 52%;
    --tail-c: 215 98% 61%;
    --tail-d: 131 55% 40%;
    --tail-e: 201 61% 51%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ------------------------------------------------- */

.ProseMirror h2 {
  @apply text-tertiary_heading  font-heading mb-5 mt-5 text-secondary-foreground leading-tight;
}

.ProseMirror h3 {
  @apply text-subtitle_heading font-paragraph mb-4 text-border;
}

.ProseMirror p {
  @apply text-subtitle_heading font-paragraph mb-4;
}
.ProseMirror p strong {
  @apply text-subtitle_heading font-paragraph text-secondary-foreground;
}

.ProseMirror ul {
  @apply lining-nums text-subtitle_heading font-paragraph mb-4 text-foreground py-0 px-8 list-decimal mt-8;
}

.ProseMirror ul li {
  @apply text-subtitle_heading mb-4 font-paragraph text-foreground;
}

.ProseMirror-supplydomain ul {
  @apply p-0 m-0 flex flex-col items-start gap-0;
}

.ProseMirror-supplydomain ul li {
  @apply text-[14px] font-paragraph text-foreground text-left pb-0 mb-1;
}

.ProseMirror-supplydomain ul li:nth-child(even) {
  @apply text-primary-foreground/80;
}

.ProseMirror-supplydomain ul li p {
  @apply mb-0 pb-0;
}
